ipython
notebook >= 6.2.0
ipywidgets >= 7.6.3
jupyter
jupyterlab
jupyter-server-proxy
jupyter-dash
networkx >= 2.4
epyc >= 1.3.2
epydemic >= 1.4.1
numpy
mpmath
matplotlib
seaborn
pandas
plotly
dash
jupyter_dash

